
.add-subj{
    background-color: #F0AE00
}
.add-subj img{
    height: 56px;
    padding: 5px;
}



.btn-teacher-subject{
    font-size: 10px;
    width: 60px;
    margin: 3px;
}


.table thead tr th {
    font-size: 13px;
}

.table tbody td {
    font-size: 13px;
}


.table tbody tr th {
    font-size: 10px;
}

.table tbody td button {
    height: 20px;
    font-size: 7px;
}

.btm{
    background: #CD3621D9;
    color: #dfd6d5d9;
}

.modal-title{
color: #D35341;
}
