<div class="container">
    <!-- <div class="row m-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" (click)="ShowType('list')" id="option1" autocomplete="off" checked> Tutor From List
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" (click)="ShowType('map')" id="option2" autocomplete="off"> Tutor From Map
            </label>
          </div>
    </div> -->
    <div class="row">
    
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let p of lstsearchOnsiteTutor_Result" >
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">{{p.firstname}} {{p.lastname}} </div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <!-- <span class="font-color">{{p.subjectfee}}</span> -->
                    <span *ngIf="p.rating > 0"><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">{{p.rating}}</span>
                    <span *ngIf="p.rating > 1"><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">{{p.rating}}</span>
                    <span *ngIf="p.rating > 2"><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">{{p.rating}}</span>
                    <span *ngIf="p.rating > 3"><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">{{p.rating}}</span>
                    <span *ngIf="p.rating > 4"><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">{{p.rating}}</span>

                </div>
                <div class="row d-flex justify-content-center font-color">
                    {{p.currency}} {{p.subjectfee}}/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary"  (click)="makePayment(p.subjectfee , p.id)">Book Now</button>
                   
                </div>
            </div>
        </div>
              
        <!-- <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-margin p-3">
                <div class=" d-flex justify-content-center p-2">
                    <img class="img" src="assets/images/user-image.png" alt="user-image.png">
                </div>
                <div class="pt-0 d-flex justify-content-center">
                    <h5>Tutor Name</h5>
                </div>
                <div class="row d-flex justify-content-center">Science Teacher</div>
                <div class="row d-flex justify-content-center">
                    <span><img class="mx-1"  src="assets/images/clock.PNG" style="width: 20px;" alt=""></span>
                    
                    <span class="font-color">90 mins</span>
                    <span><img class="mx-1" src="assets/svgs/star-regular.svg" style="width: 20px;" alt="">4.2</span>
                </div>
                <div class="row d-flex justify-content-center font-color">
                    $20/hr
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button"  class="btn btn-primary">Book Now</button>
                </div>
            </div>
        </div> -->
    </div>
   
</div>


<!-- 
<ng-template #modalData let-modal>
    <div class="container p-0">
        <div class="card px-4">
            <p class="h8 py-3">Payment Details</p>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Person Name</p> <input class="form-control mb-3" type="text" placeholder="Name" value="Barry Allen">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p> <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry</p> <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVV/CVC</p> <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn btn-primary mb-3"> <span class="ps-3">Pay $243</span> <span class="fas fa-arrow-right"></span> </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->