<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="row p-3">
                    <div class="col-lg-12 p-2 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                    <div class="col-lg-8">
                        <span class="font_size_lectureHead"><b>Basic Aljabra</b></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="subjectbg radious_card">Physics</span>
                    </div>
                    <div class="col-lg-12">
                        <span class="cls">Class 8th</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="far fa-calendar-alt p-2"></i>
                        <span class="DateTime">Dec-12-2021</span>
                    </div>
                    <div class="col-lg-12">
                        <i class="fal fa-clock p-2"></i>
                        <span class="DateTime">09:00 - 10:00 am</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>