.subjectbg{
    padding:5%;
    color:#F0AE00;
    background: rgba(202, 41, 249, 0.12)
}
.cls{
    color: #B1BAC5;
    font-size: 13px;
}
.DateTime{
    font-size: 1vw;
}
.subjectbg_card{
    padding:5%;
    color:#F0AE00;
    background: rgba(202, 41, 249, 0.12)
}
.radious_card{
  border-radius: 4px 4px;
  font-size: 0.8vw;
}
.icon-cog {
    color: blue;
  }
  .font_size_lectureHead{
    font-size: 0.8rem;
  }