<div class="container">
    <div class="row">
        <table class="table table_bg table-striped">
            <thead>
                <tr>
                    <th scope="col">ID(C.hrs)</th>
                    <th scope="col">Course Name </th>
                    <th scope="col">Timing</th>
                    <th scope="col">Class</th>
                    <th scope="col">Room</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CS101(3)</td>
                    <td>Mark</td>
                    <td>Mo-Tu <br> 1:30 - 3:00 </td>
                    <td><span class="subjectbg">8th</span></td>
                    <td>102</td>
                    <td><span class="subjectbg">...</span></td>
                </tr>
                <tr>
                    <td>CS101(3)</td>
                    <td>Mark</td>
                    <td>Mo-Tu <br> 1:30 - 3:00 </td>
                    <td><span class="subjectbg">8th</span></td>
                    <td>102</td>
                    <td><span class="subjectbg">...</span></td>
                </tr>
                <tr>
                    <td>CS101(3)</td>
                    <td>Mark</td>
                    <td>Mo-Tu <br> 1:30 - 3:00 </td>
                    <td><span class="subjectbg">8th</span></td>
                    <td>102</td>
                    <td><span class="subjectbg">...</span></td>
                </tr>
                <tr>
                    <td>CS101(3)</td>
                    <td>Mark</td>
                    <td>Mo-Tu <br> 1:30 - 3:00 </td>
                    <td><span class="subjectbg">8th</span></td>
                    <td>102</td>
                    <td><span class="subjectbg">...</span></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
