<div class="container">


    <div class="row">
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <div class="d-flex justify-content-center">
          <i class="fal fa-book fa-3x" style="background-color: #4f98e4;"></i>
        </div>
        <h5>Introduction to English</h5>
        <p> <span> <img class="icon" src="/assets/images/Course_ico.PNG" alt="app-logo.png"></span> Course #(eng-1102)</p>
        <p> <span> <img class="icon" src="/assets/images/prof_ico.PNG" alt="app-logo.png"></span> Prof Ayaz</p>
        <p> <span> <img class="icon" src="/assets/images/clock.PNG" alt="app-logo.png"></span> 4-credit hours</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            70%
          </div>
        </div>
      </div>
      <div class="col-md-4 border-5 mt-2">
        <i class="fal fa-book"></i>
      </div>
    </div>
  </div>
  <!-- <div class="row"><strong>On Site Tutors</strong></div> 
  <div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="fnPlaceMarker($event)">
           <agm-marker
                *ngFor="let m of lstLocation"
                [latitude]="m.Lati"
                [longitude]="m.Longi"
              >
                <agm-info-window>
                  <strong>{{ m.LocationName }}</strong>
                </agm-info-window>
              </agm-marker> 
    </agm-map>
  </div> 
      
  
  </div>
  <div class="row"><strong>On Site Tutors</strong></div> -->