.btn-1 {
    background: #edb4d345;
    color: #f755d4;
    width: 120px;
}

.btn-2 {
    background: #b4b6ed45;
    color: #558ef7;
    width: 120px;
}

.btn-3 {
    background: #39ad3c7a;
    color: #0c7c0f;
    width: 120px;
}

.btn-4 {
    background: #ad39397a;
    color: #db0000;
    width: 120px;
}

.btn-5 {
    background: #fcff2a7a;
    color: #db9800;
    width: 120px;
}

.btn-6 {
    background: #a469f3a6;
    color: #2b365cbf;
    width: 120px;
}

.add-subj {
    background-color: #F0AE00
}

.add-subj img {
    height: 56px;
    padding: 5px;
}

.tbl-img-student {
    height: 15px;
    margin: 5px;
}

.table thead tr th {
    font-size: 10px;
}

.table tbody td {
    font-size: 10px;
}


.table tbody tr th {
    font-size: 10px;
}

.table tbody td button {
    height: 20px;
    font-size: 7px;
}

.form-check-input  {
    padding:10px;
    margin-left: 10px ;
} 