.agreement-bg {
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  
    .agreement-section {
      padding: 45px 90px;
  
      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.055em;
        color: #333333;
      }
    }
  }
  
  .agreement-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }