<div class="container cardColor" style="max-height: 75vh; overflow-y: scroll;">
   <div class="row p-5">

    <p class="font-15" > <span class="heading" >Privacy Policy</span>
        <SPAN class="li">At trots, accessible from https://<span style='font-family:"Times New Roman",serif;'>trotstutor.co.uk</span><span class="span-li" >/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by trots and how we use it.</span></SPAN>
        <SPAN class=li>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</SPAN>
        <SPAN class=li>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in trots. This policy is not applicable to any information collected offline or via channels other than this website. </SPAN>
    </p>

    <p class="font-15" > <span class="heading" >Consent</span>
        <SPAN class="li">By using our website, you hereby consent to our Privacy Policy and agree to its terms.</SPAN>
    </p>

    <p class="font-15" > <span class="heading" >Information we collect</span>
        <SPAN class="li">The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</SPAN>
        <SPAN class=li>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</SPAN>
    </p>

    <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
    <p>We use the information we collect in various ways, including to:</p>

    <p class="font-15" > <span class="heading" > How we use your information</span>
        <SPAN class="li">Provide, operate, and maintain our website.</SPAN>
        <SPAN class=li>Improve, personalize, and expand our website.</SPAN>
        <SPAN class=li>Understand and analyze how you use our website</SPAN>
        <SPAN class=li>Develop new products, services, features, and functionality.</SPAN>
        <SPAN class=li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes.</SPAN>
        <SPAN class=li>Send you emails</SPAN>
        <SPAN class=li>Find and prevent fraud</SPAN>
    </p>

    <p class="font-15" > <span class="heading" >Log Files</span> </p>
    <p>Trots   follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

    <p class="font-15" > <span class="heading" >Cookies and Web Beacons</span></p>
<p>Like any other website, trots uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information. For more general information on cookies, please read "Cookies" article from the Privacy Policy Generator. Google DoubleClick DART Cookie</p>     
        <SPAN class=li>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads"> https://policies.google.com/technologies/ads</a></SPAN>
   
   
   
   
        <p class="font-15" > <span class="heading" >Our Advertising Partners</span>
        <SPAN class=li>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</SPAN>
        <SPAN class=li>Google <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>        </SPAN>
    </p>
    <p class="font-15" > <span class="heading" >Advertising Partners Privacy Policies</span>
        <SPAN class=li>You may consult this list to find the Privacy Policy for each of the advertising partners of trots.</SPAN>
        <SPAN class=li>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on trots, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</SPAN>
    </p>
    <p> Note that trots has no access to or control over these cookies that are used by third-party advertisers. </p>
    <p class="font-15" > <span class="heading" >Third Party Privacy Policies</span>
        <SPAN class=li>Trots's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</SPAN>
        <SPAN class=li>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</SPAN>
        <SPAN class=li>CCPA Privacy Rights (Do Not Sell My Personal Information)</SPAN>
        <SPAN class=li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</SPAN>
        <SPAN class=li>Request that a business delete any personal data about the consumer that a business has collected. </SPAN>
        <SPAN class=li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</SPAN>
        <SPAN class=li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</SPAN>
    </p>
    <p class="font-15" > <span class="heading" >GDPR Data Protection Rights</span> </p>
<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        <SPAN class=li>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</SPAN>
        <SPAN class=li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</SPAN>
        <SPAN class=li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
        </SPAN>
        <SPAN class=li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
        </SPAN>
        <SPAN class=li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
        </SPAN>
        <SPAN class=li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</SPAN>
        <SPAN class=li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
        </SPAN>
    </p>

    <p class="font-15" > <span class="heading" >Children's Information</span>
        <SPAN class=li>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</SPAN>
         <SPAN class=li>Trots does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</SPAN>
     </p>




    <!-- <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;background:white;'><strong><u><span class="heading" >Privacy Policy&nbsp;</span></u></strong></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >At trots, accessible from https://</span><span style='font-family:"Times New Roman",serif;'>trotstutor.co.uk</span><span class="span-li" >/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by trots and how we use it.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in trots. This policy is not applicable to any information collected offline or via channels other than this website.&nbsp;</span></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;background:white;'><strong><u><span class="heading" >Consent&nbsp;</span></u></strong></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >By using our website, you hereby consent to our Privacy Policy and agree to its terms.</span></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;background:white;'><strong><u><span class="heading" >Information we collect&nbsp;</span></u></strong></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><span class="font-18" >When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15 mt-5" ><strong><u><span class="heading" >How we use your information</span></u></strong></p>

    <p class="font-15" ><span class="font-18" >We use the information we collect in various ways, including to:</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <ul style="margin-bottom:0in;margin-top:0in;" type="disc">
        <li class="li-style"><span class="font-18">Provide, operate, and maintain our website</span></li>
        <li class="li-style"><span class="font-18">Improve, personalize, and expand our website</span></li>
        <li class="li-style"><span class="font-18">Understand and analyze how you use our website</span></li>
        <li class="li-style"><span class="font-18">Develop new products, services, features, and functionality</span></li>
        <li class="li-style"><span class="font-18">Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</span></li>
        <li class="li-style"><span class="font-18">Send you emails</span></li>
        <li class="li-style"><span class="font-18">Find and prevent fraud</span></li>
    </ul>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span class="heading" >Log Files</span></strong></p>

    <p class="font-15" ><span class="font-18" >Trots &nbsp; follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services&apos; analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users&apos; movement on the website, and gathering demographic information.</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span class="heading" >Cookies and Web Beacons</span></strong></p>

    <p class="font-15" ><span class="font-18" >Like any other website, trots uses &apos;cookies&apos;. These cookies are used to store information including visitors&apos; preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users&apos; experience by customizing our web page content based on visitors&apos; browser type and/or other information.</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><span class="font-18" >For more general information on cookies, please read&nbsp;</span><span style="color:black;"><a href="https://www.generateprivacypolicy.com/#cookies"><span style='font-size:18px;font-family:"Times New Roman",serif;color:blue;'>&quot;Cookies&quot; article from the Privacy Policy Generator</span></a></span><span class="font-18" >.</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><span style='font-size:16px;font-family:"Times New Roman",serif;color:black;'>Google DoubleClick DART Cookie</span></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL &ndash;&nbsp;</span><span style="color:black;"><a href="https://policies.google.com/technologies/ads"><span style='font-family:"Times New Roman",serif;'>https://policies.google.com/technologies/ads</span></a></span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:black;'>Our Advertising Partners</span></strong></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</span></li>
        </ul>
    </div>
    <ul style="margin-bottom:0in;margin-top:0in;" type="disc">
        <li class="li-style"><span class="font-18">Google</span></li>
    </ul>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span style="color:black;"><a href="https://policies.google.com/technologies/ads"><span style='font-size:18px;font-family:"Times New Roman",serif;color:blue;'>https://policies.google.com/technologies/ads</span></a></span></p>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span class="heading" >Advertising Partners Privacy Policies</span></strong></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >You may consult this list to find the Privacy Policy for each of the advertising partners of trots.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on trots, which are sent directly to users&apos; browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><span class="font-18" >Note that trots has no access to or control over these cookies that are used by third-party advertisers.</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span class="heading" >Third Party Privacy Policies</span></strong></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Trots&apos;s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</span></li>
        </ul>
    </div>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers&apos; respective websites.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:black;'>CCPA Privacy Rights (Do Not Sell My Personal Information)</span></li>
        </ul>
    </div>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Request that a business that collects a consumer&apos;s personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Request that a business delete any personal data about the consumer that a business has collected.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Request that a business that sells a consumer&apos;s personal data, not sell the consumer&apos;s personal data.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</span></li>
        </ul>
    </div>
     <p class="font-15" ><strong><span class="heading" >GDPR Data Protection Rights</span></strong></p>


    <p class="font-15" ><span class="font-18" >We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</span></p>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to access &ndash; You have the right to request copies of your personal data. We may charge you a small fee for this service.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to rectification &ndash; You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to erasure &ndash; You have the right to request that we erase your personal data, under certain conditions.</span></li>
        </ul>
    </div>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to restrict processing &ndash; You have the right to request that we restrict the processing of your personal data, under certain conditions.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to object to processing &ndash; You have the right to object to our processing of your personal data, under certain conditions.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >The right to data portability &ndash; You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <p class="font-15" ><strong><span class="heading" >Children&apos;s Information</span></strong></p>

    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</span></li>
        </ul>
    </div>
    <p class="font-15" ><span class="font-18" >&nbsp;</span></p>
    <div class="ul-style" >
        <ul class="ul-Style" >
            <li class="ul-style" ><span class="span-li" >Trots does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</span></li>
        </ul>
    </div> -->
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>&nbsp;</p>
</div>
</div>