.privacyPolicy{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    line-height:normal;
    font-size:15px;
    font-family:"Calibri",sans-serif;
    text-align:center;
    background:white;
}

.font-15{
    margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;
}
.font-18{
    font-size:18px;font-family:"Times New Roman",serif;color:black;
}

.span-li{
    font-family:"Times New Roman",serif;font-size:13.5pt;color:black
}
.ul-Style{margin-bottom:0in;list-style-type: disc;}
.li-style{
    margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;
}

.heading{
    font-size:18px;font-family:"Times New Roman",serif;color:black;
    font-weight: 700;
    text-decoration: underline;
}


SPAN.li  {display: list-item; margin-left: 2em}