<div class="tutors-container">
    <div class="title">Tutors</div>
    <div class="row">
        <dashboard-card *ngFor="let card of cards" 
            class="col-lg-4 col-md-12 col-sm-12" 
            [data]="card">
        </dashboard-card>
    </div>

    <div class="title">Status</div>
    <div class="row">
        <div class="col">Graph</div>
    </div>

    <div class="title">Tutors Profile</div>
    <div class="row row-cols-lg-3">
        <tutor-card *ngFor="let tutor of tutors" 
            [tutor]="tutor" class="col">
        </tutor-card>
    </div>
</div>